.PokemonBanner {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 5px;
    
}
.PokemonBannerImage {
    display: flex;
    flex-direction: column;
}

.PokemonBannerImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PokemonPersona {
    padding-top: 10px;
}

.PokemonPage {
    display: flex;
    flex-direction: row;
}


  