import from 

.AllPokemonImageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1223px;
}


.PokemonImageCard {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  max-height: 575px;
}

.AllPokemonPage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PokemonScroller {

  overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--backgroundSix) transparent;
 
    &::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }
 
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
 
    &::-webkit-scrollbar-thumb {
        height: 32px;
        border: 8px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 10px;
        background-color: var(--backgroundSix);
 
        &:hover {
            background-color: var(--fill-control-hover);
        }
    
}
  

}
.AllPokemonTitle {
    font-weight: 400;
    color: lightgoldenrodyellow;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    width: inherit;
    padding:20px;
    animation-name: TitleColour;
    animation-delay: 0.05s;
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

@keyframes TitleColour {
    from {
      color: red;
    }
    to {
      colour: rgb(148, 148, 7)
    }
  }