registry=https://registry.npmjs.org
@shfortawesome:registry=https://pkgs.dev.azure.com/Streets-Heaver/_packaging/SHNPM/npm/registry/ 
always-auth=true
@streets-heaver:registry=https://pkgs.dev.azure.com/Streets-Heaver/_packaging/SHNPM/npm/registry/
always-auth=true